Parse the output received from the tool execution {{ .Name }}.
The function returned the following result:

{{ .Result }}

- Think critically about the output
- Do not attempt to generate any new resource
- Try to get a conclusion from the result printed above
- If there's no real conclusion, try to determine if the same command (with different arguments) can be run to check additional resources.
